[submodule "libs/baseconfig"]
	path = libs/baseconfig
	url = https://github.com/TheAssemblyArmada/BaseConfig.git
[submodule "launcher"]
	path = launcher
	url = https://github.com/TheAssemblyArmada/SetSail.git
[submodule "libs/captnlog"]
	path = libs/captnlog
	url = https://github.com/TheAssemblyArmada/CaptainsLog.git
